!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{http_equiv: "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width"}

    %title= App.config.site.title
    %meta{name: "description", content: App.config.site.description}

    = stylesheet_link_tag("application.css", prepend: App.config.site.base_path)
    %link{rel: "canonical", href: App.config.site.url}
  %body.site
    %header.site-header
      = render("layouts/_header")
    .site-body
      %main.site-content
        = yield
      - if @aside
        %aside.site-side
          = render @aside
    %footer.site-footer
      = render("layouts/_footer")
